.git
.gitignore
Docker/data
Docker/volume
Docker_pre_restoration
!**/target/
**/target/*
!**/target/*.jar
**/logs
**/node_modules
**/vendor
vufind
!vufind/solr/vendor/modules/analysis-extras/lib
!vufind/solr/vufind/jars
