.git
.gitignore
Docker/data
Docker/volume
Docker_pre_restoration
lareferencia-shell/target/classes
lareferencia-shell/target/test-classes
lareferencia-shell/target/generated-sources
lareferencia-shell/target/maven-archiver
lareferencia-shell/target/maven-status
lareferencia-shell/target/surefire-reports
lareferencia-shell/target/antrun
lareferencia-shell/target/*.original

lareferencia-harvester/target/classes
lareferencia-harvester/target/test-classes
lareferencia-harvester/target/generated-sources
lareferencia-harvester/target/maven-archiver
lareferencia-harvester/target/maven-status
lareferencia-harvester/target/surefire-reports
lareferencia-harvester/target/antrun
lareferencia-harvester/target/*.original

lareferencia-entity-rest/target/classes
lareferencia-entity-rest/target/test-classes
lareferencia-entity-rest/target/generated-sources
lareferencia-entity-rest/target/maven-archiver
lareferencia-entity-rest/target/maven-status
lareferencia-entity-rest/target/surefire-reports
lareferencia-entity-rest/target/antrun
lareferencia-entity-rest/target/*.original

lareferencia-dashboard-rest/target/classes
lareferencia-dashboard-rest/target/test-classes
lareferencia-dashboard-rest/target/generated-sources
lareferencia-dashboard-rest/target/maven-archiver
lareferencia-dashboard-rest/target/maven-status
lareferencia-dashboard-rest/target/surefire-reports
lareferencia-dashboard-rest/target/antrun
lareferencia-dashboard-rest/target/*.original

vufind
