HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### Docker local binaries ###
/Docker/.bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
config/application.properties
harvester.jar
pom.xml.versionsBackup
.DS_Store

### Docker Data and Backups ###
/Docker/data/*
!/Docker/data/**/.gitkeep
/Docker_pre_restoration/
/*.bak
/*.patch
/dependencias/
/staged_bundle/

# Ignore custom beans overrides but keep the directory
/Docker/config-overrides/lareferencia-lrharvester-app/beans/*
!/Docker/config-overrides/lareferencia-lrharvester-app/beans/.gitkeep
