HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### Docker local binaries ###
/Docker/.bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
config/application.properties
harvester.jar
pom.xml.versionsBackup
.DS_Store

### Docker Data and Backups ###
/Docker/data/*
!/Docker/data/**/.gitkeep
/Docker/volume/*
!/Docker/volume/**/.gitkeep
/Docker_pre_restoration/
/*.bak
/*.patch
/dependencias/
/staged_bundle/

# Ignore custom beans overrides but keep the directory
/Docker/config-overrides/lareferencia-lrharvester-app/beans/*
!/Docker/config-overrides/lareferencia-lrharvester-app/beans/.gitkeep
/vufind/

### Workspace module clones ###
/lareferencia-solr-cores/
/lareferencia-oclc-harvester/
/lareferencia-core-lib/
/lareferencia-entity-lib/
/lareferencia-contrib-rcaap/
/lareferencia-contrib-ibict/
/lareferencia-indexing-filters-lib/
/lareferencia-shell-entity-plugin/
/lareferencia-shell/
/lareferencia-lrharvester-app/
/lareferencia-entity-rest/
/lareferencia-dashboard-rest/
/lareferencia-dark-lib/
/vufind/local/docker/.installed
/vufind/local/docker/config/vufind/config.ini
/vufind/local/docker/httpd-vufind.conf
/vufind/local/docker/import/import.properties
/vufind/local/docker/import/import_auth.properties
/vufind/local/docker/config/vufind/NoILS.ini
